In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [26]:
df=pd.read_csv('dataIncome.csv')
df.rename(columns = {'Income($)':'salary'}, inplace = True)
df=df.drop(['Name','Age'],axis=1)
df.head()

   salary
0   70000
1   90000
2   61000
3   60000
4  150000

In [27]:
model=IsolationForest(n_estimators=50, max_samples='auto', contamination=float(0.1),max_features=1.0)
model.fit(df[['salary']])

C:\Users\GSTKOCEMP\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

IsolationForest(contamination=0.1, n_estimators=50)

In [28]:
df['scores']=model.decision_function(df[['salary']])
df['anomaly']=model.predict(df[['salary']])
df.head(20)

    salary    scores  anomaly
0    70000  0.095415        1
1    90000 -0.021280       -1
2    61000  0.180485        1
3    60000  0.165899        1
4   150000  0.009350        1
5   155000  0.073274        1
6   160000  0.041173        1
7   162000  0.004041        1
8   156000  0.073553        1
9   130000 -0.036749       -1
10  137000 -0.000405       -1
11   45000  0.003648        1
12   48000  0.098564        1
13   51000  0.138486        1
14   49500  0.112884        1
15   53000  0.114490        1
16   65000  0.160025        1
17   63000  0.173220        1
18   64000  0.176773        1
19   80000  0.080350        1

In [29]:
anomaly=df.loc[df['anomaly']==-1]
anomaly_index=list(anomaly.index)
print(anomaly)

    salary    scores  anomaly
1    90000 -0.021280       -1
9   130000 -0.036749       -1
10  137000 -0.000405       -1

In [30]:
outliers_counter = len(df[df['salary'] > 99999])
outliers_counter

7

In [31]:
print("Accuracy percentage:", 100*list(df['anomaly']).count(-1)/(outliers_counter))

Accuracy percentage: 42.857142857142854